@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(16, 185, 129, 0.4); /* emerald vibe */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
